{% extends 'gravity_app/base.html' %}
{% load static %}
{% block title %}Detalles del Pedido{% endblock %}

{% block content %}
<main class="main-content">
    <h1>Detalles del Pedido #{{ pedido.id }}</h1>
    <p>Fecha: {{ pedido.fecha }}</p>
    <p>Método de Pago: {{ pedido.metodoPago }}</p>
    <p>Dirección de Entrega: {{ pedido.direccionEntrega }}</p>
    <p>Total a Pagar: ${{ pedido.totalPagar }}</p>

    <h2>Productos:</h2>
    <ul>
        {% for detalle in pedido.pedidoproducto_set.all %}
        <li>
            {{ detalle.producto.nombre }} - Cantidad: {{ detalle.cantidad }} - Total: ${{ detalle.total }}
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
