@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Base */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Header */
header {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #fff;
}

.header-right {
    margin-right: 30px; /* Espacio borde derecho */
}

.header-right nav ul li {
    margin-right: 15px; /* Espacio items */
}

.header-right nav ul {
    padding-right: 20px; /* Espacio items borde derecho */
}

.header-left{
    cursor: pointer;
}
.header-left .logo {
    width: 150px;
}

.header-right nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header-right nav ul li {
    margin: 0 20px;
}

.mobile-nav ul {
    list-style-type: none; /* Remove bullet points */
    padding-top: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Use flex to enable vertical alignment */
    flex-direction: column; /* Arrange items vertically */
}

.mobile-nav ul li {
    margin: 25px 0; /* Space between items */
    padding-top: 30px;
}

.header-content {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent overflow */

    border-radius: 10px;
}
.header-content i {
    font-size: 36px;
}

.header-content::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%; /* Adjust for desired expansion */
    height: 300%; /* Adjust for desired expansion */
    background-color: #fff;
    transition: transform 0.5s ease; /* Transition for background effect */
    border-radius: 50%; /* Make it circular */
    transform: translate(-50%, -50%) scale(0); /* Start scaled down */
    z-index: 0; /* Behind text */
}

.header-content:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Scale up on hover */
}

.header-content i,
.header-content span {
    position: relative; /* Position relative to stack above the pseudo-element */
    z-index: 0; /* Ensure text is above the background */
    transition: color 0.5s ease; /* Transition for color */
}

.header-content:hover i,
.header-content:hover span {
    color: #000; /* Change text and icon color on hover */
}


.header-right nav ul li img {
    width: 25px;
    height: 25px;
}


/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
}

.dropdown-content {
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    padding: 30px;
    top: 100%;
    left: 0;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content li {
    padding: 10px 0;
}

.dropdown-content li a {
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}

.dropdown-content li a:hover{
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Main content styles */
.main-content {
    padding-top: 120px; /* To avoid being overlapped by the fixed header */
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 60px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.item p {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* Centering the button */
.button-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    margin-top: 10px; /* Add some spacing above the button */
}

/* Button Styles */
.add-to-cart-button {
    border: 2px solid white; /* White border */
    background-color: black; /* Black background */
    color: rgb(255, 255, 255); /* White text */
    text-transform: uppercase;
    padding: 10px 20px; /* Adjust padding */
    font-size: 16px; /* Font size */
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; /* Pointer cursor */
    position: relative; /* Position for the pseudo-element */
    overflow: hidden; /* Ensure overflow is hidden */
    transition: color 0.5s ease; /* Smooth transition for color */
}

/* Circle Animation Effect */
.add-to-cart-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%; /* Size of the circle */
    height: 300%; /* Size of the circle */
    background-color: white; /* Circle background color */
    transition: transform 0.5s ease; /* Transition for background effect */
    border-radius: 50%; /* Make it circular */
    transform: translate(-50%, -50%) scale(0); /* Start scaled down */
    z-index: -1; /* Behind text */
}

.add-to-cart-button:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Scale up on hover */
}

/* Text and icon style */
.add-to-cart-button:hover {
    color: black; /* Change text color to black on hover */
    background-color: white;
}

.add-to-cart-button span {
    position: relative; /* Position relative to stack above the pseudo-element */
    z-index: 1; /* Ensure text is above the background */
}

/* RESPONSIVE SHIT */

/* Ensure mobile menu icon is hidden by default */
header .mobile-menu {
    display: none;
}

#menu-toggle:hover{
    color: #000;
}

/* Mobile menu styles */
.mobile-menu-content {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #000000; /* Background color */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
    z-index: 999; /* On top of other content */
    padding: 20px; /* Add some padding */
    overflow-y: auto; /* Scroll if content overflows */

    border-left: 2px solid #fff;
}

/* Show mobile menu when active */
.mobile-menu-content.active {
    display: block;
}

/* Close button styles */
.mobile-nav .close-button {
    position: absolute;
    bottom: 70px; /* Position at the bottom */
    right: 40px; /* Align to the left */
    text-decoration: none;
    color: #ffffff; /* Close button color */
    font-size: 20px; /* Font size for the button */
    display: flex;
    align-items: center;
}

/* Additional styling for the mobile menu items */
.mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-nav ul li {
    margin: 15px 0; /* Space between items */
}


/* Show mobile menu icon when screen width is less than 800px */
@media screen and (max-width: 900px) {
    header .desktop-menu {
        display: none !important; /* Hide desktop menu */
    }
    header .mobile-menu {
        display: block !important; /* Show mobile menu icon */
    }
}

/* Hide the mobile menu icon when screen width is greater than 800px */
@media screen and (min-width: 901px) {
    header .mobile-menu {
        display: none !important; /* Hide mobile menu icon */
    }
}

/* Responsive grid adjustments */
@media screen and (max-width: 1600px) {
    .item-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .item-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilo del contenedor del formulario de búsqueda (overlay) */
.search-form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparente para que se vea sobre el contenido */
    z-index: 10; /* Asegurarnos de que esté por encima del resto */
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del formulario de búsqueda */

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search-form span{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
    padding-right: 20px;
}

/* Campo de texto de búsqueda (toma todo el ancho menos el botón) */
.search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
}

/* Botón de búsqueda */
.search-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.search-form button:hover {
    background-color: #fff;
    color: #000;
    transition: color 0.5s ease;
    transition: background-color 0.5s;
}

/* Asegurar que el formulario de búsqueda no afecte el layout del menú */
.desktop-menu {
    position: relative;
}

/* Para que el formulario de búsqueda no desplace el resto del contenido */
.search-form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; /* Ajuste si tienes margen en tu header */
    height: auto;
    z-index: 999;
    background: #000;
    padding: 0px;
}

/* Estilos para el botón de cierre */
.close-search {
    display: none;
}

.show-close-search {
    display: block;
}

h1 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
}

/* Estilo buscador */
.search-results-box {
    display: flex;
    justify-content: space-around; /* Distribuir espacio entre elementos */
    align-items: center; /* Centrar verticalmente */
    background-color: #000; /* Fondo negro */
    border-right: 2px solid white; /* Borde blanco */
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0px 0px 10px 10px; /* Bordes redondeados */
    padding: 10px;
    margin-bottom: 20px;
    position: relative; /* Posicion relativa para la línea */
    max-width: 800px; /* Establece un ancho máximo para que no sea demasiado grande */
    margin: 0 auto; /* Centrar la caja horizontalmente */
    width: 80%;
}

.box-left {
    color: white;
    text-align: center; /* Centrar el contenido del texto */
    flex: 1; /* Hacer que la caja izquierda ocupe el mismo espacio que la derecha */
    padding-right: 20px; /* Espacio a la derecha de la línea */
}

.box-right {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el botón Filtrar */
    color: white;
    flex: 1; /* Hacer que la caja derecha ocupe el mismo espacio que la izquierda */
    padding-left: 20px; /* Espacio a la izquierda de la línea */
    
}
.box-right a {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    color: white;
    display: flex; /* Makes the link a flex container */
    align-items: center; /* Vertically centers the text and icon */
    gap: 8px; /* Adds space between the text and the icon */
}

/* Estilo de la línea separadora vertical */
.vertical-line {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%; /* Centrar la línea verticalmente */
    width: 1px;
    background-color: white;
}

/* Icono del filtro */
#filter-icon {
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
    font-size: 34px;
}

/* Ajustar los tamaños de h1 y h2 */
.search-results-box h1 {
    font-size: 1.5rem;
    margin: 0;
}

.search-results-box h2 {
    font-size: 1rem;
    margin: 0;
}


/* Default state when hidden */
.dropdown-content-filter {
    display: block !important;
    position: absolute;
    background-color: #ffffff;
    padding: 0 30px; /* Padding horizontally, initially no vertical padding */
    top: 100%;
    right: 0;
    border-radius: 4px;
    z-index: 1;
    max-height: 0;
    overflow: hidden; /* Hide content when collapsed */
    transition: max-height 0.5s ease, padding 0.5s ease; /* Smooth height and padding transition */
}

/* When the dropdown is visible */
.dropdown-content-filter.show {
    max-height: 300px; /* Adjust this value to the max desired height */
    padding: 30px; /* Restore vertical padding */
}

/* Dropdown items */
.dropdown-content-filter li {
    padding: 10px 0;
}

.dropdown-content-filter li a {
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}

.dropdown-content-filter li a:hover {
    text-decoration: underline;
}